body {
    background-color: rgb(237, 218, 255);
}

#contents {
    margin-top: 10vh;
}

nav {
    background-image: linear-gradient(to bottom, rgb(237, 218, 255),rgb(204, 150, 255));
}

#toggle {
    background-color: rgb(255, 253, 218);
}

#toggle-on-menu {
    background-color: rgb(255, 253, 218);
}

main {
    text-align: center;
    margin: 1em;
}

section {
    background-color: rgb(255, 253, 218);
    padding-left:0;
    padding-top:0;
    padding-right:0;
    padding-bottom:2em;
    margin: 2em;
    border-radius: 2vh;
    border-width: 0;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    padding: 1em;
    border-radius: 2vh;
    background-color: #4A148C;
    color:#FFEBEE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.teorema {
    padding: 1em;
    border-radius: 0;
    background-image:linear-gradient(to bottom, rgb(255, 253, 218),rgba(255, 255, 255, 0.7));
    margin-left: inherit;
    margin-right: inherit;
    border-bottom:rgb(237, 218, 255) 1px solid;
    width:inherit;
}
.casos {
    padding: 1em;
    background-color: #E8EAF6;
    border-radius: 1em;
    width:60vw;
    /*Center div*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.casos ol {
    margin: 0;
    padding-left: 0;
    padding-top: 1em;
}
.cursive {
    font-style: italic;
}
.box-equation {
    color: #4A148C;
    font-weight:bold;
}
